<div
  class="list-banner"
  style="background-image: url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>')"
>
  <div class="d-flex flex-column justify-content-center align-items-center h-100">
    <h1 class="text-white"><%= @list.name %></h1>
  </div>
</div>

<div class="d-flex justify-content-center align-items-start">
  <div class="list-info d-flex flex-column">
    <div class="my-2 d-flex flex-row-reverse">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addBookmarkModal">
        Add bookmark
      </button>
    </div>

    <div class="row gx-5 bg-light">
      <% if @list.bookmarks.length == 0 %>
        <p>There are no bookmarks</p>
      <% else %>
        <% @list.bookmarks.each do |bookmark| %>
          <div class="card border col-4 p-3">
            <img src= <%= bookmark.movie.poster_url %> class="bookmark-image">
            <h3 class="bookmark-header"><%= "#{bookmark.movie.title} - #{bookmark.movie.rating}☆" %></h3>
            <p class="bookmark-info"><%= bookmark.movie.overview %></p>
            <div class="d-flex justify-content-between">
              <p class="bookmark-info">
                <strong><i class="fa-solid fa-quote-left"></i></strong>
                <em><%= bookmark.comment %></em>
              </p>
              <%= link_to "Delete",
                list_bookmark_path(@list, bookmark),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
                class: "delete-button"
              %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>

<hr>

<div class="d-flex justify-content-center align-items-start">
  <div class="list-info d-flex flex-column">
    <h2 class="fs-4">Reviews on this list</h2>
    <div class="row align-items-start shadow p-3 mb-5 bg-body-tertiary rounded">
      <div class="review-info w-50 overflow-y-scroll">
        <% if @list.reviews.length == 0 %>
          <p>There are no reviews</p>
        <% else %>
          <% @list.reviews.each do |review| %>
            <div class="review-info-card card border p-1">
              <p class="p-0 m-0"><strong>Comment:</strong> <%= review.comment %></p>
              <p class="p-0 m-0"><strong>Rating:</strong> <%= "#{review.rating}☆" %></p>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="w-50 bg-secondary p-3">
        <%= render "/reviews/form", review: @review %>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="addBookmarkModal" tabindex="-1" aria-labelledby="addBookmarkModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addBookmarkModalLabel">Add new bookmark</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "/bookmarks/form", bookmark: @bookmark %>
      </div>
    </div>
  </div>
</div>
